.idea/encodings.xml
.idea/hackathon6-.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
.idea/encodings.xml
.idea/hackathon6-.iml
.idea/codeStyles/Project.xml
__pycache__/dummy_data.cpython-36.pyc
__pycache__/conf.cpython-36.pyc
__pycache__/database_queries.cpython-36.pyc
